<div id="wrapper onload="jumpPage();">
	<div class="talk" id="line1">
		<p>
			とんでもない奴だ！
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="talk append" id="line2">
		<p>
		一人では決められないといったから、
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="talk append" id="line3">
		<p>
			手伝ってやろうというのに、
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="talk append" id="line4">
		<p>
			恩をあだで返す気か！
		</p>
		<div class="triangle">
		</div>
	</div>
	
	<div class="selector enable">
		<p>黙れ</p>
		<form action="/destination/choose">
		<input type="submit" style="display:none;"/>
		</form>
	</div>

		
