<div id="wrapper">
	<div class="talk" id="line1">
		<p>
			ここで出た結果には、
		</p>
		<div class="triangle">
		</div>
	</div>
	
	<div class="talk append" id="line2">
		<p>
			どんなことがあっても従うと誓いますか？
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="query">
		<div class="choices enable yes">
			<p>はい</p>
			<form action="/destination/choose">
			<input type="submit" style="display:none;"/>
			</form>
		</div>
		<div class="choices enable no">
			<p>いいえ</p>
			<form action="/destination/angry">
			<input type="submit" style="display:none;"/>
			</form>
		</div>
	</div>
</div>
