<div id="wrapper">
	<div class="talk" id="line1">
		<p>
			新しい店を追加します。
		</p>
		<div class="triangle">
		</div>
	</div>
	<%= render 'form' %>
	<div class="selector enable">
		<p>戻る</p>
		<form action="/menu/index">
		<input type="submit" style="display:none;"/>
		</form>
	</div>
</div>
