<div id="wrapper">
	<div id="menu">
			<ul id="menuList">
				<li>
					<div class="selector enable">
						<p>とにかく行先を決める</p>
						<form action="/destination/">
						<input type="submit" style="display:none;"/>
						</form>
					</div>
				</li>
				<li>
					<div class="selector enable">
						<p>新しい食べ物屋を加える</p>
						<form action="/shops/new">
						<input type="submit" style="display:none;"/>
						</form>
					</div>
				</li>
				<li>
					<div class="selector enable">
						<p>ぐるなびからインポートする</p>
						<form action="/">
						<input type="submit" style="display:none;"/>
						</form>
					</div>
				</li>
				<li>
					<div class="selector enable">
						<p>スカカードの登録</p>
						<form action="/cards/new/">
						<input type="submit" style="display:none;"/>
						</form>
					</div>
				</li>
				<li>
					<div class="selector enable">
						<p>リスト表示</p>
						<form action="/shops">
						<input type="submit" style="display:none;"/>
						</form>
					</div>
				</li>
			</ul>
	</div>
</div>
