<div id="wrapper">
	<div class="talk" id="line1">
		<p>
			たまには、ご自分でお決めになってはどうでしょう。
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="talk append" id="line2">
		<p>
		女性に一番嫌われるのは、なかなか行くところを決められない男だそうですよ、
		つまり、優柔不断ではっきりしないやつは嫌われるんですよ。
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="talk append" id="line3">
		<p>
			あなたは、どうですか？
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="talk append" id="line4">
		<p>
			こんなものに頼るようじゃあ…、
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="talk append" id="line5">
		<p>
			失礼いいすぎました。メニューをどうぞ。
		</p>
		<div class="triangle">
		</div>
	</div>
	
	<div class="selector disable">
		<p>メニューを表示</p>
		<form action="/menu/index">
		<input type="submit" style="display:none;"/>
		</form>
	</div>
	<div class="selector enable">
		<p>黙れ</p>
		<form action="/menu/index">
		<input type="submit" style="display:none;"/>
		</form>
	</div>
</div>
