<div id="wrapper">
	<div class="talk" id="line1">
		<p>
			御用ですか。
		</p>
		<div class="triangle">
		</div>
	</div>
	
	<div class="selector enable">
		<p>メニューを表示</p>
		<form action="/menu/index">
		<input type="submit" style="display:none;"/>
		</form>
	</div>
</div>
