<div id="wrapper">
	<div class="talk">
		<p>
			さぁ、飯へいこう！
		</p>
		<div class="triangle">
		</div>
	</div>
	<div class="selector" onclick="j();">
		<p>Enter</p>
		<form action="/menu/index">
		<input type="submit" style="display:none;"/>
		</form>
	</div>
</div>