	<div id="wrapper">
	<p id="notice"><%= notice %></p>
	
	<div class="column">
		<div class="photo">
		<%= image_tag @card.image.url(:thumb) %>
		</div>
		
		<div class="article">
			<div class="list shopTitle">
				<p><%= @card.name %></p>
			</div>
		</div>
	</div>
	<div class="selector enable">
		<p>戻る</p>
		<form action="/menu/index">
		<input type="submit" style="display:none;"/>
		</form>
	</div>
</div>
